<div class='recipe'>
  <div ng-repeat="fromItem in recipe" class="recipe-group">
    <div ng-class="'runeList-content recipe-part--'+fromItem.type">
      <div>
        <span class="recipe-part-quantity"
          ng-if="fromItem.quantity > 1">
          {{ ::fromItem.quantity }} x
        </span>
        <span class="recipe-part-name">
          {{ ::fromItem.name }}
        </span>
      </div>
      <div>
        <img class="recipe-part-img"
          ng-src="{{ itemImgUrl(fromItem.name) }}">
        </img>
      </div>
    </div>
    <div ng-if="!$last" class="runeList-content">
      <span class="recipe-fromItemJoin">
        +
      </span>
    </div>
  </div>
</div>
