<div class="runes">
  <figure class="runes-figure">
    <h1>runemaster</h1>
    <img ng-repeat="rune in mainVm.runes"
      ng-src="{{ rune.img_url }}"></img>
    <figcaption>all images c/o
      <a href="http://classic.battle.net/diablo2exp/">the arreat summit</a>
    </figcaption>
  </figure>
  <div class="runes-content">
    <div class="runes-recipes">
      <h3>formulas</h3>
      <div class="recipeList">
        <div ng-repeat="recipe in mainVm.runeRecipes" class="recipe">
          <div ng-class="'recipe-part recipe-part--'+recipe.to.type">
            <div>
              <span ng-if="recipe.to.quantity > 1">
                {{ recipe.to.quantity }} x
              </span>
              {{ recipe.to.name }}
            </div>
            <div>
              <img ng-src="{{ mainVm.itemImgUrl(recipe.to.name) }}"></img>
            </div>
          </div>
          <div class="recipe-part">
            =
          </div>
          <div class="recipe-group">
            <div ng-repeat="fromItem in recipe.from" class="recipe-group">
              <div ng-class="'recipe-part recipe-part--'+fromItem.type">
                <div>
                  <span ng-if="fromItem.quantity > 1">
                    {{ fromItem.quantity }} x
                  </span>
                  {{ fromItem.name }}
                </div>
                <div>
                  <img ng-src="{{ mainVm.itemImgUrl(fromItem.name) }}"></img>
                </div>
              </div>
              <div ng-if="!$last" class="recipe-part">
                +
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="runes-runeWords">
      <h3>rune words</h3>
      <table class="runeWordList">
        <thead>
          <th>Name</th>
          <th>Allowed Items</th>
          <th>Rune Order</th>
          <th>Completed Stats</th>
          <th>Ladder Only?</th>
        </thead>
        <tbody>
          <tr ng-repeat="runeWord in mainVm.runeWords | orderBy:'name'" class="runeWord">
            <td>{{ runeWord.name }}</td>
            <td>
              <ul>
                <li ng-repeat="allowedItem in runeWord.allowed_items">
                  {{ allowedItem }}
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li ng-repeat="rune in runeWord.rune_order track by $index">
                  {{ rune }}
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <div ng-repeat="type in runeWord.completed_stats">
                  <span ng-if="type.key != 'default'">{{ type.key }}</span>
                  <ul>
                    <li ng-repeat="stat in type.stats">
                      {{ stat }}
                    </li>
                  </uL>
                </div>
              </ul>
            </td>
            <td>
              <span ng-if="runeWord.ladder_only">Yes</span>
              <span ng-if="!runeWord.ladder_only">No</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
