<div class="runes">
  <figure class="runes-figure">
    <h1>runemaster</h1>
    <img ng-repeat="rune in ::mainVm.runes"
      ng-src="{{ ::rune.img_url }}"></img>
    <figcaption>all data c/o
      <a href="http://classic.battle.net/diablo2exp/">the arreat summit</a>
    </figcaption>
  </figure>
  <div class="runes-content">
    <div ng-include="'rune_table.html'"></div>
    <div class="runes-runeWords" ng-include="'rune_word_table.html'"></div>
  </div>
</div>
