<div class="runes">
  <h1>runemaster</h1>
  <figure class="runes-figure">
    <img src="http://diablo2.diablowiki.net/images/d/db/Runes.jpg"/>
    <figcaption>img c/o 
      <a href="http://diablo2.diablowiki.net">diablo wiki</a>
    </figcaption>
  </figure>
  <h3>{{ message }}</h3>
</div>
