<div class="modal-header">
  <h3 class="modal-title">
    {{ sockets }} Socket {{ itemType }}
  </h3>
  <span class="modal-dismiss"
    ng-click="$dismiss()">x</span>
</div>
<div class="modal-body">
  <div ng-if="itemTypeMissing">
    <p class="itemsModal-error">
      Unable to find information.
    </p>
  </div>
  <div ng-if="!itemTypeMissing">
    <div class="itemsModal-heading">
      <h4 class="itemsModal-heading-quality"
        ng-class="{ 'is-selected' : qualitySelected === 'normal' }"
        ng-click="selectQuality('normal')">Normal</h4>
      <h4 class="itemsModal-heading-quality"
        ng-class="{ 'is-selected' : qualitySelected === 'exceptional' }"
        ng-click="selectQuality('exceptional')">Exceptional</h4>
      <h4 class="itemsModal-heading-quality"
        ng-class="{ 'is-selected' : qualitySelected === 'elite' }"
        ng-click="selectQuality('elite')">Elite</h4>
    </div>
    <p ng-show="!items"
      class="itemsModal-error">
      Unable to find information.
    </p>
    <table ng-show="items"
      class="itemsModal-items">
      <thead>
        <tr>
          <th ng-repeat="property in items.properties">
            {{ property.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items.items | filter: socketsFilter as results">
          <td ng-repeat="property in items.properties">
            <div ng-if="property.key == 'img_url'"
              class="itemsModal-item-imgWrapper">
              <img ng-src="{{ ::item[property.key] }}"></img>
              <div ng-if="item.class_specific"
                class="isRestricted">
                {{ item.class_specific }} ONLY
              </div>
            </div>
            <span ng-if="property.key !== 'img_url'">
              {{ item[property.key] }}
            </span>
          </td>
        </tr>
        <tr ng-if='results.length === 0'>
          <td class="zeroState"
            colspan="{{ items.properties.length }}">
            No applicable items.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
