<div>
  <h3>runes</h3>
  <table class="runeList">
    <thead>
      <th>Rune</th>
      <th># Owned</th>
      <th>Baal Odds</th>
      <th>Recipe</th>
    </thead>
    <tbody>
      <tr ng-repeat="rune in mainVm.runes">
        <td class="runeList-rune">
          <div class="runeList-content">
            <span>{{ rune.name }}</span>
            <img ng-src="{{ rune.img_url }}"></img>
          </div>
        </td>
        <td class="runeList-owned">
          <div class="runeList-content">
            <input type='number' min='0'
              ng-model='mainVm.runesOwned[rune.name]'>
          </div>
        </td>
        <td class="runeList-odds">
          {{ rune.odds }}
        </td>
        <td class="runeList-recipe">
          <rune-recipe rune='rune'
            recipe='mainVm.runeRecipes[rune.name]'>
          </rune-recipe>
        </td>
      </tr>
    </tbody>
  </table>
</div>
