<div class="runes-runeWords">
  <h3>rune words</h3>
  <table class="runeWordList">
    <thead>
      <th>Name</th>
      <th>Allowed Items</th>
      <th>Rune Order</th>
      <th>Completed Stats</th>
    </thead>
    <tbody>
      <tr ng-repeat="runeWord in mainVm.runeWords | orderBy:'name'" class="runeWord">
        <td>
          {{ runeWord.name }}
          <div ng-if="runeWord.ladder_only"
            class="runeWord-ladderOnly">
            *Ladder Only*
          </div>
        </td>
        <td>
          <ul>
            <li ng-repeat="allowedItem in runeWord.allowed_items">
              <a href
                ng-click="mainVm.openItemsModal(allowedItem.type, allowedItem.sockets)">
                {{ allowedItem.sockets }} Socket {{ allowedItem.type }}
              </a>
            </li>
          </ul>
        </td>
        <td>
          <uib-progressbar max="runeWord.rune_order.length"
            value="mainVm.countRunesOwned(runeWord.rune_order)">
          </uib-progressbar>
          <ul>
            <li ng-repeat="rune in runeWord.rune_order track by $index"
              class="runeWord-rune"
              ng-class="{ 'runeWord-rune--owned': mainVm.runesOwned[rune] > 0 }">
              {{ rune }}
              <span ng-if="mainVm.runesOwned[rune] > 0">
                ({{ mainVm.runesOwned[rune] }})
              </span>
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <div ng-repeat="type in runeWord.completed_stats">
              <span ng-if="type.key != 'default'">{{ type.key }}</span>
              <ul>
                <li ng-repeat="stat in type.stats">
                  {{ stat }}
                </li>
              </uL>
            </div>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
