body {
  background-color: black;
  color: #afafaf;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-variant: small-caps;
}

a:focus {
  outline: none;
}

.runes {
  padding: 10px;
}

.runes-content {
  display: flex;
}

.runes-content > div {
  margin: 0 10px;
}

.runes-figure {
  display: block;
  text-align: center;
}

.runes-figure > figcaption {
  font-size: 12px;
}

td, th {
  border: 1px solid #928A72;
  padding: 10px;
}
