body {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.runes {
  padding: 10px;
}

.runes-figure {
  display: inline-block;
  text-align: center;
}

.runes-figure > figcaption {
  font-size: 12px;
}
