.runes-runeWords {
  flex-grow: 1;
}

.runeWordFilters {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.runeWordList {
  width: 100%;
}

.runeWord ul {
  margin: 0;
  padding-left: 17px;
}

.runeWord-runesList {
  width: 100px;
}

.runeWord-rune.runeWord-rune--owned {
  color: #5cb85c;
  font-weight: 700;
}
