.runes-runeWords {
  flex-grow: 1;
}

.runeWordList {
  width: 100%;
}

.runeWord-ladderOnly {
  background-color: #965F00;
  font-weight: 700;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.runeWord ul {
  margin: 0;
  padding-left: 17px;
}

.runeWord-runesList {
  width: 100px;
}

.runeWord-rune.runeWord-rune--owned {
  color: #5cb85c;
  font-weight: 700;
}
